body {
  padding-top: 40px;
}

.navbar {
  background: rgba(60,58,48,0.75);
}

.well {
    background: rgba(60,58,48,0.75);
}

.btn{
  color: white;
  background: #74B378; /*This is the PSL green color*/
  border: none;
}

button:last-of-type{
  position: relative;
  top: -1px;
  background: #74B378;
  border: none;
  padding: 7px 12px;
}

.carousel-inner > .item > img {
  width:100%;
  height:100%;
}
